*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body,#root{
    background-color: #1b8ef9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.loginLayout{
background-color: white;
width:40%;
height: 65%;
border-radius:2rem ;
padding: 1rem ;
} 
.login{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.login h3{
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  padding: 2rem;
  padding-bottom: 3rem;
}
.form label{
  color: black;
  font-weight: 600;
  display: block;
  margin-bottom: 0.3rem;
}
  
   .form input {
    width: 25rem;
    height: 2.5rem;
    background-color: white;
   margin-bottom: 1rem;
    padding: 1rem;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 0.6rem;
  } 
.forpass{
  text-decoration: none;
  margin-left: 17rem;
 margin-bottom: 2rem;
}
  .form input:focus {
    border: solid 1px #bcbec0;
    outline: none;
  }
  
  ::placeholder {
    font-weight: 400;
    font-size: 0.8rem;
  }
  .form span{
    text-align: center;
    padding-left: 6rem;
    color: black;
  }
  .form button {
    display: block;
    background-color: #167bff;
    color: white;
    text-align: center;
    width: 25rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3rem;
  margin-bottom: 0.8rem;
  }
  
  button:focus {
    outline: none;
    border: none;
  } 
  .form a{
    text-decoration: none;
    color: #167bff !important;
  }
  .signbutton{
    margin-top: 2rem !important;
  }